@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* @import 'tailwindcss'; */

:root {
  --color-azul-marino: #1a237e;
  --color-azul: #2196f3;
  --color-verde: #4caf50;
  --color-marron-claro: #d7ccc8;
  --color-texto: #333333;
  --color-blanco: #ffffff;
}

body {
  font-family: 'Poppins', sans-serif;
}
